<div class="body-content container-fluid text-center" style="padding-top: 70px">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h1>Chci pomáhat</h1>
            <p>Hledáme tutory, tj. studenty/studentky 3.-5. ročníku FAV, kteří by si chtěli přivydělat poskytováním konzultací mladším spolužákům. Nabízíme 190,- Kč na hodinu, požadujeme dobré znalosti alespoň některého z doučovaných předmětů, tj. na úrovni známky výborně nebo alespoň velmi dobře.</p>
            <hr>
            <p>Máte-li zájem, vyplňte prosím formulář níže.</p>
            <div class="well">
                <p>
                    PRO ZOBRAZENÍ FORMULÁŘE SE PROSÍM PŘIHLAŠTE VPRAVO NAHOŘE
                </p>
            </div>
            <p>Máte-li další dotazy, ozvěte se prosím Světlaně Tomiczkové na e-mail <a href="mailto:svetlana@kma.zcu.cz">svetlana@kma.zcu.cz</a>, případně přijďte osobně do UC 258.</p>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>
                    ROZVRH
                    PO PRIHLASENI
                </p>
            </div>
        </div>
    </div>
</div>


