<div class="body-content container-fluid text-center" style="padding-top: 70px">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h1>Novinky</h1>
            <hr />
            <div class="well">
                <h3>Změna rozpisu – 29.3. SSC nefunguje</h3>
                <p>
                    Pozor! Ve čtvrtek 29.3. 2018 mají studenti volno a ani SSC nebude fungovat.
                </p>
            </div>
            <hr>
        </div>

        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>
                    ROZVRH
                    PO PRIHLASENI
                </p>
            </div>
        </div>
    </div>
</div>


