@{
    ViewBag.Title = "Statistiky";
    ViewBag.ActiveMenuItem = "menu-statistics";
}


@{
    ViewBag.Title = "Generate";
}

<h2>Statistics</h2>
@Html.ActionLink("Feedback", "Generate", "Feedbacks")


